$font-color: black;
$font-color-alt: white;

$dark-blue: #263A55;
$light-gray: #EEEEEE;

$input-error-color: #ff4d4d;

$content-width: 1260px;

$xxs: 480px;
$xs: 768px;
$sm: 991px;
$md: 1280px;
$lg: 1920px;
$xl: 5000px;

$mobile: 600px;
$tablet: 900px;
$desktop: 1920px;

@mixin responsive($query) {
    @media ( max-width: + $query ) {
        @content;
    }
}
