@use "../../styles/shared.scss" as *;

$contact-bg: $dark-blue;
$form-bg: #EEEEEE;

$send-button-bg: $dark-blue;
$send-button-bg-hover: #345D93;

$link-color: white;

$input-border-color: #C1C1C1;
$input-bg-color: white;

.contact-section {
    min-height: 400px;
    background-color: $contact-bg;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 20px;
    color: $font-color-alt;
}

.contact-container {
    max-width: 1260px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;

    @include responsive($sm) {
        flex-direction: column;
    }
}

/* FORM */
.contact-form {
    background: $form-bg;
    padding: 40px;
    border-radius: 12px;
    max-width: 600px;
    margin: auto;
}

.row {
    display: flex;
    gap: 16px;
    margin-bottom: 20px;

    @include responsive($xxs) {
        flex-direction: column;
    }
}

.row:last-child {
    margin-bottom:0;
}

.field {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.field.full {
    flex: 100%;
}

label {
    font-size: 14px;
    margin-bottom: 6px;
}

input,
textarea {
    padding: 12px;
    border-radius: 6px;
    border: 1px solid $input-border-color;
    font-size: 14px;
    background-color: $input-bg-color;
}

textarea {
    min-height: 10em;
    resize: none;
}

button {
    background-color: $send-button-bg;
    color: $font-color-alt;
    border: none;
    padding: 1rem 2rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.1s;
    margin: auto;
}

button:hover {
    background-color: $send-button-bg-hover;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-info h2 {
    font-size: 32px;
    margin-bottom: 12px;
    margin-top: 0;
}

.contact-info p {
    margin-top: 0;
    margin-bottom: 1rem;
    margin-right: 1rem;
    line-height: 1.6;
    color: $font-color-alt;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 2rem;
}

.link-group {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
        filter: invert(1);
        margin: 0 1rem;
    }

    a {
        color: $link-color;
        text-decoration: none;
        font-weight: 500;

        &:hover {
            text-decoration: underline;
        }
    }
}
