<div class="header-container">
    <header>
        <nav class="right">
            <ul>
                <li>
                    <a routerLink="/">Home</a>
                </li>
                <li>
                    <a routerLink="/portfolio">Portfolio</a>
                </li>
                <li>
                    <a routerLink="/cv">CV</a>
                </li>
            </ul>
        </nav>
        <nav class="center">
            <p> Logo </p>
        </nav>
        <nav class="left">
            <ul>
                <li>Freelance</li>
                <li>Contact</li>
            </ul>
        </nav>
    </header>
</div>
