<div class="header-container"
     [class.header-hidden]="!isVisible()"
     [class.header-visible]="isVisible()">
    <header>
        <nav class="right">
            <ul>
                <li>
                    <a routerLink="/">Home</a>
                </li>
                <li>
                    <a routerLink="/portfolio">Portfolio</a>
                </li>
                <li>
                    <a routerLink="/cv">CV</a>
                </li>
            </ul>
        </nav>
        <nav class="center">
            <img class="logo" src="assets/logos/hozen_emacs_logo_zen.png" alt="" />
        </nav>
        <nav class="left">
            <ul>
              <li>
                <a routerLink="/">Freelance</a>
              </li>
              <li>
                <a routerLink="/">Contact</a>
              </li>
            </ul>
        </nav>
    </header>
</div>
