@use "../../styles/shared.scss" as *;

.header-hidden {
    transform: translateY(-100%);
}

.header-visible {
    transform: translateY(0);
}

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    z-index: 2;
    background: rgba(255, 255, 255, 0.7);
    color: #555;
    backdrop-filter: blur(10px);

    transition: transform 0.3s ease-in-out, background-color 0.3s ease;
    will-change: transform;

    header {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        
        align-items: center;
        height: inherit;
        max-width: $content-width;
        margin: auto;
        

        // Small reset
        ul, p {
            margin: 0;
            padding: 0;
        }

        a {
            color: inherit;
            text-decoration: none;
            padding: .5rem 1rem;

            &:hover {
                // text-decoration: underline;
                color: black;
                border-bottom: solid 3px black;
                font-weight: bolder;
            }
        }

        // Pages section
        nav.right {
            margin-left: 30px;
            margin-right: auto;
            
            ul {
                list-style: none;
                display: flex;
            }
        }

        // Logo section style
        nav.center {
            text-align: center;

            .logo {
                max-height: 3rem;
            }
        }

        // Actions section
        nav.left {
            margin-right: 30px;
            margin-left: auto;
            
            ul {
                list-style: none;
                display: flex;
            }  
        }

        &:hover {
            // background-color: #EFEFEF;
        }
    }
}
