<section class="profil-container">
    <div class="photo-container">
        <img src="assets/images/photo_profil.jpg" alt="" />
    </div>
    <div class="presentation">
        <h1 class="white">Enzo Durel</h1>
        <p>
            Je suis ingénieur en informatique spécialisé en systèmes interactifs, logiciels embarqués et intelligence
            artificielle.
            Formé en France et aux États-Unis, j’ai acquis une solide expérience en C++ et Python à travers divers
            projets.
            Je me définis comme un profil équilibré, alliant créativité et rigueur technique.
        </p>
    </div>
</section>
