@use "../../styles/shared.scss" as *;

$photo-max-dim: 300px;
$photo-border-radius: 150px;
$profil-max-w: 1200px;
$profil-margin: 50px;
$photo-border-color: #EEE;

.profil-container {
    margin: auto;
    padding: 0 1em;
    padding-top: 50px;
    display: flex;
    align-items: center;
    max-width: $profil-max-w;
    gap: $profil-margin;

    @include responsive($xs) {
        flex-direction: column;
    }

    .photo-container {
        max-width: $photo-max-dim;
        overflow: hidden;
        aspect-ratio: 1/1;
        border-radius: $photo-border-radius;
        // border-left: solid .2rem $photo-border-color;
        // border-bottom: solid .2rem $photo-border-color;
        filter: drop-shadow(0 10px 10px rgba(0, 0, 0, .5));

        img {
            object-fit: cover;
            width: 100%;
            transform: translateY(-30%);
            transition: scale .3s;

            &:hover {
                scale: 1.1;
                transition: scale .3s;
                
            }
        }
    }

    .presentation {
        display: flex;
        flex-direction: column;

        h1, h2 {
            margin: .5em 0;
        }

        p {
            // line-height: normal;
            // text-indent: 3em;
            padding: 1.5em;
            background-color: #f4f4f4;
            border-radius: 2em 2em 2em 0;

            transform: none;
            transition: transform .2s, filter .2s;
            filter: drop-shadow(0 5px 3px rgba(0, 0, 0, .25));

            &:hover {
                transform: translateY(-10px);
                filter: drop-shadow(0 10px 5px rgba(0, 0, 0, .25));
            }
        }
    }
}
