$comp-max-width: 1200px;
$comp-icon-dim: 20px;

.icon {
    max-width: $comp-icon-dim;
    max-height: $comp-icon-dim;
}

.invert {
    filter: invert(1);
}

.competences-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 2rem;

    max-width: $comp-max-width;
    padding: 2rem;
    padding-top: 0;
    margin: auto;

    ul, p {
        margin: .3rem 0;
    }

    ul {
        padding-left: 1rem;
    }

    .technicals {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;
        flex-direction: column;
        flex-flow: column wrap;

        .technical {
            display: flex;
            align-items: center;
            gap: 1rem;
        }

    }

    h2 {
        width: fit-content;
    }
    
    h2::before {
        content: '';
        display: block;
        transform: translateY(2rem) translateX(.5rem);
        width: 100%;
        border-bottom: solid 1rem rgba(255, 255, 255, .3);
    }

    .languages-container {

        .languages {
            display: flex;
            flex-direction: column;

            .language {
                display: grid;
                grid-template-columns: auto auto;
                grid-template-rows: auto auto;
                align-items: center;
                justify-content: flex-start;
                column-gap: 1rem;

                .certif-container {
                    grid-column: 1 / -1;

                    .certif {
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        list-style: none;
                    }
                }
            }
        }
    }

    .about {
        grid-column: 1 / -1;

        p {
            line-height: normal;
            text-indent: 3em;
        }
    }
}
