@use "../../styles/shared.scss" as *;

$timeline-vertical-height: 600px;
$timeline-min-height: 300px;

.resume-container {
    background-color: #EEE;
    padding-bottom: 2rem;
}

.round-border {
    background-color: #EEE;
    height: 0px;
    transform: translateY(-1rem);

    svg {
        filter: drop-shadow(0 0 1rem rgba(0, 0, 0, .4));
    }
}

.resume {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    grid-gap: 15px;
    grid-template-rows: auto 100px auto;

    max-width: $content-width;
    margin: auto;

    @include responsive($sm) {
        grid-column: 1 / -1;
        grid-template-rows: auto auto $timeline-min-height auto auto;
    }

    @include responsive(600px) {
        grid-template-rows: auto auto $timeline-vertical-height auto auto;
    }

    .presentation {
        z-index: 0;
        grid-column: 5 / -1;
        display: grid;
        grid-template-rows: 20% 30% 50%;
        
        h1 {
            font-size: 200%;
            text-align: center;
        }

        p {
            text-indent: 2rem;
        }

        @include responsive($sm) {
            grid-column: 1 / -1;
            grid-template-rows: auto;

            .white {
                color: black;
            }

            h1, p {
                
                margin-left: 2rem;
                margin-right: 2rem;
            }
        }
    }

    .profil-container {
        z-index: 1;
        max-width: 400px;
        margin: auto;
        grid-column: 1/5;
        overflow: hidden;
        border-radius: 203px;
        aspect-ratio: 1/1;
        width: 90%;

        filter: drop-shadow(0 10px 10px rgba(0, 0, 0, .5));
        
        img {
            object-fit: cover;
            width: 100%;
            scale: 1.5;
            transition: transform .3s, scale .3s;

            &:hover {
                scale: 2;
                transform: translateX(10%);
                transition: transform .3s, scale .3s;
                
            }
        }

        @include responsive($sm) {
            grid-column: 1 / -1;

            img {
                transform: none;
            }
        }
    }


    .frise-container {
        z-index: 0;
        grid-column: 1 / -1;
        min-height: $timeline-min-height;
        transform: translateY(-180px);

        @include responsive($sm) {
            transform: none;
        }
        
        @include responsive(600px) {
            transform: translateX(-20%);
            min-height: $timeline-vertical-height;
        }
    }

    .photos-container {
        z-index: 1;
        display: flex;
        flex-wrap: wrap;
        grid-column: 6 / -1;
        align-items: center;
        justify-content: center;
        
        img {
            object-fit: cover;
            aspect-ratio: 3 / 4;
            max-width: 150px;
            border-radius: 10px;
            box-shadow: 0 4px 4px 0 #00000044;
            margin: 5px 5px;

            @include responsive($mobile) {
                max-width: 130px;
            }
        }

        @include responsive($md) {
            grid-column: 1 / -1;
        }
    }

    .paragraph-container {
        z-index: 1;
        grid-column: 1 / 6;
        margin: auto;

        p:first-child {
            text-indent: 2rem;
        }
              
        p {
            margin-left: 2rem;
            margin-right: 2rem;
        }

        @include responsive($md) {
            grid-column: 1 / -1;
        }

        
    }
}

.links-container {

    background-color: #333;
    overflow-y: hidden;
    min-height: 200px;
    
    .links {
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
        gap: 5%;
        max-width: 1000px;
        padding: 0 2rem;

        .link-card {
            transform: translateY(60px);
            transition: transform .3s;

            img {
                object-fit: cover;
                max-height: 200px;
                width: 100%;
                transition: filter .3s;
                filter: drop-shadow(0 20px 5px rgba(0, 0, 0, .5));

                &:hover {
                    filter: drop-shadow(0 60px 8px rgba(0, 0, 0, 0.4));
                }
            }

            &:hover {
                transform: translateY(30px);
            }

            @include responsive($mobile) {
                transform: translateY(90px);
            }

            @include responsive($xxs) {
                transform: translateY(110px);
            }
        }
    }
}

.banner-container {
    z-index: 1;
    
    .background, .background-shadow {
        max-height: 700px;
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .logo-container {
        display: flex;
        align-items: center;
        justify-content: center;
        
        position: relative;
        margin: 0 1em;
        height: 500px;

        .hozen-logo {
            max-width: 100%;
        }
    }

    @include responsive($mobile) {

        .background, .background-shadow {
            max-height: 500px;
        }

        .logo-container {
            height: 300px;
            
            .hozen-logo {
               max-width: 80%;
            }
        }
    }
}
