@use "../../styles/shared.scss" as *;

#resume-container {
    background-color: #EEE;
    padding-bottom: 2rem;
}

.round-border {
    background-color: #EEE;
    height: 0px;
    transform: translateY(-1rem);

    svg {
        filter: drop-shadow(0 0 1rem rgba(0, 0, 0, .4));
    }
}

#resume {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    grid-gap: 15px;
    grid-template-rows: 405px 100px auto;

    max-width: $content-width;
    margin: auto;

    @include responsive($md) {
        grid-template-rows: 405px 100px auto auto;
    }

    @include responsive($sm) {
        grid-template-rows: 405px auto auto auto auto;
    }

    #presentation {
        z-index: 0;
        grid-column: 5 / -1;
        display: grid;
        grid-template-rows: 20% 30% 50%;
        
        h1 {
            font-size: 48px;
            text-align: center;
        }

        p {
            text-indent: 2rem;
        }

        @include responsive($sm) {
            grid-column: 1 / -1;
            grid-template-rows: auto;

            .white {
                color: black;
            }

            h1, p {
                
                margin-left: 2rem;
                margin-right: 2rem;
            }
        }
    }

    .profil-container {
        z-index: 1;
        max-width: 405px;
        max-height: 405px;
        margin: 20px;
        grid-column: 1 / 5;
        overflow: hidden;
        border-radius: 203px;
        aspect-ratio: 1/1;
        filter: drop-shadow(0 10px 10px rgba(0, 0, 0, .5));
        
        img {
            object-fit: cover;
            width: 100%;
            scale: 1.5;
            transition: transform .3s, scale .3s;

            &:hover {
                scale: 2;
                transform: translateX(10%);
                transition: transform .3s, scale .3s;
                
            }
        }

        @include responsive($sm) {
            grid-column: 1 / -1;
            margin: auto;

            img {
                transform: none;
            }
        }
    }


    .frise-container {
        grid-column: 1 / -1;
        transform: translate(0, -130px);

        @include responsive($sm) {
            transform: none;
        }
    }

    #photos-container {
        display: flex;
        flex-wrap: wrap;
        grid-column: 6 / -1;
        align-items: center;
        justify-content: center;
        
        img {
            object-fit: cover;
            width: 150px;
            height: 200px;
            border-radius: 10px;
            box-shadow: 0 4px 4px 0 #00000044;
            margin: 5px 5px;
        }

        @include responsive($md) {
            grid-column: 1 / -1;
        }
    }

    #paragraph-container {
        grid-column: 1 / 6;
        margin: auto;

        p:first-child {
            text-indent: 2rem;
        }
              
        p {
            margin-left: 2rem;
            margin-right: 2rem;
        }

        @include responsive($md) {
            grid-column: 1 / -1;
        }

        
    }
}

#links-container {

    background-color: #333;
    overflow-y: hidden;
    min-height: 12vh;
    
    #links {
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        gap: 15%;
        max-width: 1000px;
        padding: 0 2rem;

        .link-card {

            transform: translateY(60px);
            transition: transform .3s;

            img {
                object-fit: cover;
                max-height: 200px;
                width: 100%;
                transition: filter .3s;
                filter: drop-shadow(0 20px 5px rgba(0, 0, 0, .5));

                &:hover {
                    filter: drop-shadow(0 60px 8px rgba(0, 0, 0, 0.4));
                }
            }

            &:hover {
                transform: translateY(30px);
                transition: transform .3s;
            }
        }
    }    
}

#banner-container {
    z-index: 1;

    #background {
        position: absolute;
        width: 100%;
        height: 700px;
        object-fit: cover;
    }

    #background-shadow {
        position: absolute;
        width: 100%;
        height: 700px;
        object-fit: cover;
    }

    #logo-container {
        display: flex;
        align-items: center;
        justify-content: center;
        
        position: relative;
        height: 100%;
        height: 500px;

        #hozen-logo {
            margin: 20px;
            width: 100%;
            max-width: 1000px;
        }
    }
}
