#resume-container {
    background-color: #EEE;
    
}
#resume {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    grid-gap: 15px;
    grid-template-rows: 405px 500px auto;

    max-width: 1260px;
    margin: auto;

    p {
        font-size: 16px;
    }

    #presentation {
        z-index: 1;
        grid-column: 5 / -1;
        display: grid;
        grid-template-rows: 20% 30% 50%;
        
        h1 {
            font-size: 48px;
            text-align: center;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        p {
            margin: 2rem;
        }

    }
    
    #profil {
        object-fit: cover;
        max-width: 405px;
        max-height: 405px;
        border-radius: 203px;
        filter: drop-shadow(0 4px 15px rgba(0, 0, 0, 0.5));

        grid-column: 1 / 5;

        z-index: 1;
    }

    #frise-container {
        position: relative;
        grid-column: 1 / -1;

        ul li {
            position: absolute;
            text-align: center;
            list-style: none;

            display: flex;
            flex-direction: column;
        }

        ul li::before {
            content: ' \25CF';
            font-size: 50px;
        }
        
        img {
            width: 100%;
            transform: translate(0, -80px);
            
        }
    }

    #photos-container {
        display: flex;
        flex-wrap: wrap;
        grid-column: 6 / -1;
        margin: auto;
    
        img {
            object-fit: cover;
            width: 150px;
            height: 200px;
            border-radius: 10px;
            box-shadow: 0 4px 4px 0 #00000044;

            margin: 5px 5px;
        }
    }

    #paragraph-container {
        grid-column: 1 / 6;

        p {
            margin-left: 1rem;
        }
    }
}

.white {
    color: white;
}

.links img {
    object-fit: cover;
    width: 300px;
    height: 230px;
}

#banner-container {
    
    #background {
        position: absolute;
        width: 100%;
        height: 700px;
        object-fit: cover;
    }

    #background-shadow {
        position: absolute;
        width: 100%;
        height: 700px;
        object-fit: cover;
    }

    #logo-container {
        position: relative;
        text-align: center;
        height: 100%;
        height: 500px;

        #hozen-logo {
            width: 100%;
            max-width: 1000px;
        }
    }    
}
