$xxs: 480px;
$xs: 768px;
$sm: 991px;
$md: 1280px;
$lg: 1920px;
$xl: 5000px;

@mixin responsive($query) {
    @media ( max-width: + $query ) {
        @content;
    }
}

#resume-container {
    background-color: #EEE;
    padding-bottom: 2rem;
}

#resume {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    grid-gap: 15px;
    grid-template-rows: 405px 100px auto;

    max-width: 1260px;
    margin: auto;

    @include responsive($md) {
        grid-template-rows: 405px 100px auto auto;
    }

    @include responsive($sm) {
        grid-template-rows: 405px auto auto auto auto;
    }

    #presentation {
        z-index: 0;
        grid-column: 5 / -1;
        display: grid;
        grid-template-rows: 20% 30% 50%;
        
        h1 {
            font-size: 48px;
            text-align: center;
        }

        .white {
            color: white;
        }

        @include responsive($sm) {
            grid-column: 1 / -1;
            grid-template-rows: auto;

            .white {
                color: black;
            }

            h1, p {
                margin-left: 2rem;
                margin-right: 2rem;
            }
        }
    }
    
    #profil {
        max-width: 405px;
        grid-column: 1 / 5;
        z-index: 0;

        @include responsive($sm) {
            grid-column: 1 / -1;
            margin: auto;
            max-width: 100%;
        }
    }


    #frise-container {
        grid-column: 1 / -1;
        transform: translate(0, -130px);

        @include responsive($sm) {
            transform: none;
        }
    }

    #photos-container {
        display: flex;
        flex-wrap: wrap;
        grid-column: 6 / -1;
        align-items: center;
        justify-content: center;
        
        img {
            object-fit: cover;
            width: 150px;
            height: 200px;
            border-radius: 10px;
            box-shadow: 0 4px 4px 0 #00000044;
            margin: 5px 5px;
        }

        @include responsive($md) {
            grid-column: 1 / -1;
        }
    }

    #paragraph-container {
        grid-column: 1 / 6;
        margin: auto;

        p {
            margin-left: 2rem;
            margin-right: 2rem;
        }

        @include responsive($md) {
            grid-column: 1 / -1;
        }

        
    }
}

#links-container {

    background-color: #333;
    height: 300px;
    overflow-y: hidden;
    
    #links {
        
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        max-width: 1000px;

        .link-card {
            margin-top: 130px;
            transition: margin .3s;

            img {
                object-fit: cover;
                width: 230px;
                height: 320px;

                border-radius: 15px;
                filter: drop-shadow(0 20px 5px rgba(0, 0, 0, 0.7));
            }

            &:hover {
                margin-top: 80px;

                img {
                    filter: drop-shadow(0 40px 10px rgba(0, 0, 0, 0.5));
                }

                transition: margin .3s;
            }
        }
    }    
}



#banner-container {

    #background {
        position: absolute;
        width: 100%;
        height: 700px;
        object-fit: cover;
    }

    #background-shadow {
        position: absolute;
        width: 100%;
        height: 700px;
        object-fit: cover;
    }

    #logo-container {
        position: relative;
        text-align: center;
        height: 100%;
        height: 500px;

        #hozen-logo {
            width: 100%;
            max-width: 1000px;
        }
    }
}
