<div class="timeline-wrapper">

    <svg *ngIf="isReady" viewBox="-120 -80 1240 400" class="timeline-svg">

        <!-- QUEUE GAUCHE -->
        <g *ngIf="startPoint">
            <line [attr.x1]="startPoint.x - 80" [attr.y1]="startPoint.y" [attr.x2]="startPoint.x"
                [attr.y2]="startPoint.y" class="timeline-tail" />

            <circle [attr.cx]="startPoint.x - 80" [attr.cy]="startPoint.y" r="8" class="timeline-tail-dot" />
        </g>

        <!-- FLÈCHE DROITE -->
        <g *ngIf="endPoint">
            <line [attr.x1]="endPoint.x" [attr.y1]="endPoint.y" [attr.x2]="endPoint.x + 65" [attr.y2]="endPoint.y"
                class="timeline-tail" />

            <polygon [attr.points]="
                                    (endPoint.x + 80) + ',' + (endPoint.y) + ' ' +
                                    (endPoint.x + 65) + ',' + (endPoint.y - 10) + ' ' +
                                    (endPoint.x + 65) + ',' + (endPoint.y + 10)
                                    " class="timeline-arrow" />
        </g>
        <!-- courbe -->
        <path [attr.d]="generatePath()" class="timeline-path" />

        <!-- points -->
        <g *ngFor="let p of points">

            <circle [attr.cx]="p.x" [attr.cy]="p.y" r="6" class="timeline-dot" />

            <foreignObject [attr.x]="p.x - 70" [attr.y]="p.y + 30" width="140" height="80">
                <div class="timeline-card">
                    <strong>{{ p.title }}</strong>
                    <small>{{ p.date }}</small>
                </div>
            </foreignObject>

        </g>
    </svg>
</div>
