<div #timelineWrapper class="timeline-wrapper">
    <svg class="timeline-svg">
        <path #timelinePath [attr.d]="pathD()" class="timeline-path"></path>

        <g *ngFor="let p of renderedPoints">
            <circle [attr.cx]="p.x!" [attr.cy]="p.y!" r="10" class="timeline-dot"></circle>
            <foreignObject [attr.x]="p.x! - 50" [attr.y]="p.y! + 40" width="100px" height="200px">
                <div class="timeline-card">
                    <p *ngIf="p.date">{{p.date}}</p>
                    <strong>{{p.title}}</strong>
                    <!-- <p *ngIf="p.description">{{p.description}}</p> -->
                </div>
            </foreignObject>
        </g>
    </svg>
</div>
