$timeline-color: #5D5D5D;

:host {
    display: block;
    grid-column: 1 / -1;
}

.timeline-wrapper {
  width: 100%;
  overflow-x: auto;
  padding: 40px 0;
}

.timeline-svg {
    overflow: visible;
  width: 100%;
  height: auto;
}

.timeline-path {
  fill: none;
  stroke: $timeline-color;
  stroke-width: 4;
}

.timeline-dot {
    transform-box: fill-box;
    transform-origin: center;
  fill: white;
  stroke: $timeline-color;
  stroke-width: 3;
  cursor: pointer;
  transition: 0.2s;
}

.timeline-dot:hover {
  transform: scale(1.4);
}

.timeline-card {
  background: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.08);
  text-align: center;
  font-size: 12px;

  display: flex;
  flex-direction: column;
}

.timeline-tail {
  stroke: $timeline-color;
  stroke-width: 4;
}

.timeline-tail-dot {
  fill: white;
  stroke: $timeline-color;
  stroke-width: 4;
}

.timeline-arrow {
  fill: $timeline-color;
}

