@use "../../styles/shared.scss" as *;

$timeline-color: #5D5D5D;
$timeline-fill-dot: white;

$timeline-height: 260px;

.timeline-wrapper {
    height: $timeline-height;
}

.timeline-svg {
    height: 100%;
    width: 100%;
}

.timeline-path {
    fill: none;
    stroke: $timeline-color;
    stroke-width: 4;
}

.timeline-dot {
    fill: $timeline-fill-dot;
    stroke: $timeline-color;
    stroke-width: 2;
    cursor: pointer;
    transition: transform 0.2s;
    transform-box: fill-box;
    transform-origin: center;
}

.timeline-dot:hover {
    transform: scale(1.4);
}

.timeline-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;

    p {
        margin-top: 0;
    }
}

