<div #timelineWrapper class="timeline-wrapper">
    <svg class="timeline-svg">
      <path #timelinePath
            [style.stroke]="curveColor()"
            [attr.d]="pathD()"
            class="timeline-path"></path>

        @for (p of renderedPoints; track $index) {
        <g>
          <circle [attr.cx]="p.x!" [attr.cy]="p.y!" r="10" class="timeline-dot"
                  [style.stroke]="dotBorderColor()"
                  [style.fill]="dotBgColor()"
                  (click)="timelineService.setHoveredEvent(p)">
          </circle>
          <foreignObject [attr.x]="cardOffsetX(p)"
                         [attr.y]="p.y! + card_offset_y()"
                         [attr.width]="cardWidth(p)"
                         [attr.height]="cardHeight(p)">
            <div class="timeline-card">
              @if (show_date() && p.date) {<p>{{p.date}}</p>}
              @if (show_title()) {<strong>{{p.title}}</strong>}
              @if (show_description() && p.description) {<p>{{p.description}}</p>}
            </div>
          </foreignObject>
        </g>
        }
    </svg>
</div>
