.image-stack {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px;
  transform-style: preserve-3d;
  overflow: hidden;
}

img {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;
  object-fit: cover;

  transition: transform 0.15s ease-out;
  will-change: transform;
}

/* images avec position custom */
img.free {
  width: auto;
  height: auto;
  max-width: none;
  max-height: none;
  object-fit: initial;
}
