/* You can add global styles to this file, and also import other style files */
@use "app/styles/shared.scss" as *;

$primary-font: 'Inter', sans-serif;

.cv-title {
    width: fit-content;
    margin: 1em;
    margin-top: 0;
}

.cv-title::before {
    content: '';
    display: block;
    transform: translateY(1.5em) translateX(.5em);
    width: 100%;
    border-bottom: solid .75em #869bd055;
}

.white {
    color: white;
}

body.no-scroll {
  overflow: hidden;
  /* Optionnel : évite le saut de mise en page si la barre de défilement disparaît */
  padding-right: var(--scrollbar-width, 0px); 
}

body {
    font-family: $primary-font;

    @include responsive($xxs) {
        font-size: 80%;
    }
}
