@use "../../styles/shared.scss" as *;

$tags-color: #777;
$exppro-bg-color: #eee;
$container-max-width: 1200px;

.exppro-container {
    background-color: $exppro-bg-color;
    max-width: $container-max-width;
    margin: auto;
    padding: 1em;
    border-radius: 2rem 0;

    // small reset
    h3, h4, p, ul {
        margin: .2em;
    }

    display: flex;
    flex-direction: row;

    @include responsive($xs) {
        flex-direction: column;
    }

    .project-part {
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        .link-card {
            flex: 1 1 auto;
            display: flex;
            max-width: 120px;
            align-items: center;
            margin: 2rem;
            
            a {
                width: 100%;
                transition: filter .3s, transform .3s;
                filter: drop-shadow(10px -10px 5px rgba(0, 0, 0, .2));

                img {
                    width: 100%;
                }

                &:hover {
                    transform: translateY(-5px);
                    filter: drop-shadow(4px -4px 3px rgba(0, 0, 0, .3));
                    cursor: pointer;
                }
            }
        }
    }

    .exppros-section {

        .exppro-item {
            margin: 1rem;

            .title {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                padding: .5em 0;
            }
            
            .subtitle {
                display: flex;
                align-items: center;
                flex-wrap: wrap;

                .tags {
                    display: flex;
                    color: $tags-color;
                    flex-wrap: wrap;

                    p::after {
                        content: ',';
                    }
                    
                    p:last-child::after {
                        content: '';
                    }
                }

                .date {
                    display: flex;
                    flex-wrap: no-wrap;
                }

                .date::before, .tags::before {
                    content: '';
                    border-right: solid 2px $tags-color;
                    margin: .3rem;
                }
            }
        }
    }
}
