$tags-color: #777;
$exppro-bg-color: #eee;
$container-max-width: 1200px;

.exppro-container {
    background-color: $exppro-bg-color;
    max-width: $container-max-width;
    margin: auto;
    padding: 2rem;
    border-radius: 2rem 0;
    transition: padding .3s;

    &:hover {
        padding: 2rem 4rem;
    }
    
    // small reset
    h1, h2, h3, h4, p, ul {
        margin: .2em;
    }

    display: flex;
    flex-direction: row;

    .project-part {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        .link-card {
            flex: 1 1 auto;
            display: flex;
            max-width: 120px;
            align-items: center;
            
            a {
                width: 100%;
                transition: filter .3s, transform .3s;
                filter: drop-shadow(10px -10px 5px rgba(0, 0, 0, .2));

                img {
                    width: 100%;
                }

                &:hover {
                    transform: translateY(-5px);
                    filter: drop-shadow(4px -4px 3px rgba(0, 0, 0, .3));
                    cursor: pointer;
                }
            }
        }
    }

    .exppros-section {

        .exppro-item {
            margin: 1rem;

            .subtitle {
                display: flex;
                align-items: center;

                .tags {
                    display: flex;
                    color: $tags-color;

                    p::after {
                        content: ',';
                    }
                    
                    p:last-child::after {
                        content: '';
                    }

                }

                h4::after, .tags::after {
                    content: '';
                    border-right: solid 2px $tags-color;
                    margin-left: .3rem;
                }

                .date {
                    margin-left: .3rem;
                }
            }
        }
    }
}
